/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Navbar Styles */
.custom-navbar {
  background-color: #e69215; /* Dark background color */
  padding: 15px 0;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav .item {
  display: inline-block;
  margin-right: 40px;
}

.nav .link {
  color: #cc0909;
  text-decoration: none;
  font-size: 20px;
}

.logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.hamburger {
  display: none;
}

/* Header Styles */
.header {
  background-color: #32b92b; /* Dark background color */
  color: #fff;
  padding: 100px 0;
  text-align: center;
}

.header-title {
  font-size: 48px;
  margin-bottom: 20px;
}

.header-subtitle {
  font-size: 24px;
  margin-bottom: 30px;
}

/* About Section Styles */
.about-img {
  border-radius: 50%;
  max-width: 300px;
  margin-bottom: 20px;
}

.about-caption {
  text-align: center;
}

.about-description {
  margin-bottom: 40px;
}

/* Footer Styles */
.footer {
  background-color: #111; /* Dark background color */
  color: #fff;
  padding: 20px 0;
}
